# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/

# Pygame cache
*.pyo
*.pyd

# Editor files
*.swp
*~
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Test and log files
*.log
